/*  @group Reset Styles */
/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}

nav ul {list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; }

a:hover { text-decoration: underline; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select {vertical-align:middle;}

/* @end reset */

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}

@font-face {
	font-family: 'FuturicaMedium';
	src: url('fonts/AFuturicaMedium.eot');
	src: local('O'), url('fonts/AFuturicaMedium.woff') format('woff'), url('fonts/AFuturicaMedium.ttf') format('truetype'), url('fonts/AFuturicaMedium.svg') format('svg');
	font-weight: Bold;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNova-Reg.eot');
	src: local('O'), url('fonts/ProximaNova-Reg.woff') format('woff'), url('fonts/ProximaNova-Reg.ttf') format('truetype'), url('fonts/ProximaNova-Reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BodoniCompressDRegular';
	src: url('fonts/bodoniantcomddembol.eot');
	src: local('O'), url('fonts/bodoniantcomddembol.woff') format('woff'), url('fonts/bodoniantcomddembol.ttf') format('truetype'), url('fonts/bodoniantcomddembol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
	color:#000;
	height:100%;
	width:100%;
}
a{
	color:#000;
}
.wrapper{
	width:940px;
	margin:0 auto;
}
.wrapper > section{
	clear:both;
}
nav ul{
	font-family:"FuturicaMedium";
	text-transform:uppercase;
	letter-spacing:0.5px;
	margin: 40px 0 0;
    position: relative;
}
header{
    clear: both;
    height:202px;
    margin: 0;
	    position: relative;
    padding: 0 0 6px;
}
header .cart{
    color: #3f3f3f;
    line-height: 20px;
    margin: -60px 0 0;
    position: absolute;
    right: -5px;
    text-align: left;
}
header .cart .basket{
	position:absolute;
	margin: 0 0 0 -51px;
    position: absolute;
}
header .cart .basket img{
	color:#017798;
}
header .cart .phone{
    font-size: 21px;
    margin: 12px 0 0;
    width: 157px;
}
header .cart h4{
	font-family:"FuturicaMedium";
	text-transform:uppercase;
	    font-size: 18px;
}

header .cart p{
	font-family:'ProximaNova';
}
header .logo{
    margin: 20px auto 0;
    position: relative;
    width: 300px;
}
header nav{
	position:relative;
	margin:10px auto 0;
	text-align:center;
	bottom:32px;
}
header nav ul > li{
	/*margin:0 110px 0 0;*/
    display: inline-block;
    font-size: 16px;
    margin: 0 49px 0 0;
    vertical-align: middle;
}

header nav ul > li.special{
    left: 25px;
    position: absolute;
    top: -88px;
    width: 148px;
}

header nav ul > li.special img{
	width:100%;
	display:block;
}
header nav ul > li.last{
	margin:0;
}
header nav ul > li:hover > .subfolders{
	display:block;
}
header nav ul.subfolders{
	display:none;
	position:absolute;
}
nav a.selected{
	text-decoration:underline;
}
aside nav{
	margin:0 0 0 34px;
	font-size:14px;
	position:absolute;
	width:160px;
}

aside nav h2{
	margin:0 0 10px;
}
aside nav > ul{
	margin:0;
}
aside nav li{    line-height: 15px;
    margin: 0 0 15px;
}
aside nav > ul > li > ul > li{
	margin:4px 0 0px 20px;
}
article.banner{
	margin:0 0 0 232px;
	width:817px;
}
article.info{
	margin:0 0 0 0px;
	width:100%;
	font-size:15px;
}
article.products{
	font-size: 12px;
    margin: 0 0 0 367px;
    width: 680px;
}
article.products > section{
    display: block;
    float: left;
    margin: 0 0 40px;
    width: 680px;
}
article.product_info{
	font-size:12px;
	margin:0 0 0 314px;
}
article.product_info .image-block,
article.products .image-block{
	float:left;
}
article.product_info .image-block .image{
	display:block;
	margin:0 0 63px 0;
	width:422px;
}
article.products .more-part{
	float:right;
	width:247px;
	margin:192px 0 0 0;
	font-size:11px;
	text-transform:uppercase;
}
article.product_info .more-part{
	float:right;
	width:250px;
	font-size:14px;
	text-transform:uppercase;
}

.more-part .description {
    border-top: 1px solid #000000;
    font-size: 12px;
    margin: 20px 0 0;
    padding: 20px 0 12px;
    text-transform: none;
}
.more-part .description p{
	margin:0px 0 10px 0;
}
.more-part .button,.button.black{
	background:#000;
	color:#fff;
}
.shipping_info{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	margin:0 0 59px 0;
	font-size: 12px;
	text-transform:none;
}
.shipping_info p{
    padding: 0px 0 12px;
}
.shipping_info h2{
	font-weight:normal;
	font-size:11px;
	text-transform:uppercase;
	margin:8px 0;
	cursor:pointer;
	background:url("/img/norsoyan/sprites.png") no-repeat scroll 231px -3px rgba(0, 0, 0, 0);
}
.shipping_info h2.clicked{
	background:url("/img/norsoyan/sprites.png") no-repeat scroll 231px -27px rgba(0, 0, 0, 0);
}
.shipping_info #ship-text{
	display:none;
}
.shipping_info #ship-text.show{
	display:block;
}
.sizes{

}


.wrapper-dropdown {
    background: url("/img/norsoyan/sprites.png") no-repeat scroll 228px -43px #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    margin: 0 auto 15px;
    outline: medium none;
    padding: 5px 20px;
    position: relative;
}
.wrapper-dropdown .dropdown {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    font-weight: normal;
    left: 0;
    list-style: none outside none;
    margin: 0 0 0 -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 248px;
	z-index:100;
}
.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
    background: #e8e8e8;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown.active {
  background: #fff;
}
.old_price{
	text-decoration:line-through;
	font-size:10px;
	color:#c9c9c9;
}
.quantity input,.input{
    border: 1px solid #000000;
    color: #000000;
    font-size: 9px;
    font-weight: normal;
    margin: 0 auto 15px;
    outline: medium none;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase;
    width: 208px;
}

article.products .button{
	margin:35px 0 0 0;
}
.button{
	height:39px;
	width:171px;
	background:#8be4e6;
	border:1px solid #000;
	display:block;
	color:#fff;
	text-align:center;
	font-size:10px;
	text-transform:uppercase;
	line-height:36px;
	cursor:pointer;
}
article h1{
	font-size:12px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0 0 20px 0;
}
footer{
    clear: left;
    font-size: 11px;
    margin: 0 auto 20px;
    width: 900px;
}

body footer > .line {
    background: none repeat scroll 0 0 #C6C6C6;
    clear: both;
    float: left;
    height: 1px;
    margin: 25px 0 10px;
    width: 900px;
}
.contacts{
	text-align:center;
	width:200px;
	margin:0 auto;
	height:20px;
}
.social{
	background: none repeat scroll 0 0 #fff;
    clear: both;
    display: block;
    font-size: 22px;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0 21px;
    position: relative;
    top: -30px;
    width: 86px;
}

.social li {
    display: inline;
}

.social a {
    background: none repeat scroll 0 0 #ffa8b6;
    border-radius: 20px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 25px;
    height: 40px;
    text-align: center;
    width: 40px;
	line-height:38px;
}
.copyright{
	width:100%;
	float:left;
	margin:25px 0 0;
}
.social .fa-instagram {
        bottom: -2px;
    position: relative;
}
.social .fa-facebook {
    position: relative;
}
.social .fa-vk {
    bottom: -1px;
    position: relative;
}



.overlay.selected{
	display:block;
}
.overlay{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	background:rgba(0,0,0,0.6);
	z-index:10001;
}
.overlay .form.selected{
	display:block;
}
.overlay .form{
	display:none;
	width:484px;
	background:#fff;
	text-align:center;
	padding:20px 0;
	margin:-200px auto 0 auto;
	position:relative;
	top:50%;
}
.overlay .form .close{
    background: url("/img/norsoyan/sprites.png") no-repeat scroll 0 -73px rgba(0, 0, 0, 0);
    height: 12px;
    margin: -18px 0 0 495px;
    position: absolute;
    width: 17px;
	cursor:pointer;
}
.overlay .subtext{
	font-size:11px;
	text-transform:uppercase;
	margin:0 0 20px 0;
}
.overlay .form h2{
	font-weight:normal;
	text-transform:uppercase;
	font-size:14px;
	margin:0 0 15px 0;
}
.overlay .form .button{
	display:inline;
}
.overlay .error{
	color: #FF0000;
    font-size: 10px;
    margin: -16px 0 10px;
    position: relative;
    text-transform: uppercase;
}
.photos{
	list-style:none;
}
.photos li{
	float:left;
	margin:0 20px 0 0;
}

.photos li.last{
	float:left;
	margin:0;
}
.photos li img{
	width:220px;
	height:330px;
	display:block;
}
.albums{
	list-style: outside none none;
    margin: 30px 0 0;
}
.albums li{
	float:left;
	margin:0 20px 20px 0;
}
.albums li.last{
	margin:0 0 20px 0;
}
.albums li img{
	display:block;
}
.albums li .round{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 158px;
    color: #d4d4d4;
    display: block;
    height: 200px;
    margin: -200px 0 0 50px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    width: 180px;


	transition-duration:0.2s;
	transition-timing-function:ease-out;
	/* Firefox 4 */
	-moz-transition-duration:0.2s;
	-moz-transition-timing-function::ease-out;
	/* Safari and Chrome */
	-webkit-transition-duration:0.2s;
	-webkit-transition-timing-function::ease-out;
	/* Opera */
	-o-transition-duration:0.2s;
	-o-transition-timing-function::ease-out;
}

.albums li:hover .round{
    /*background: none repeat scroll 0 0 rgba(0, 179, 186, 0.5);*/
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 158px;
    color: #000;
    display: block;
    height: 200px;
    margin: -200px 0 0 50px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    width: 180px;
}
.albums li .round .name{
    display: table-cell;
    height: 200px;
    position: relative;
    text-align: center;
	font-family:"FuturicaMedium";
    vertical-align: middle;
    width: 200px;
}
.banner{
	position:relative;
	margin:0 auto;
	width:897px;
}
.banner .right{
	float:right;
	margin:0 0px 17px 0;
}
.instagram{
    clear: both;
    list-style: outside none none;
    margin: 0px auto 0;
    width: 897px;
}
.instagram li{
	width:224px;
	display:inline-block;
}
.instagram li img{
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.4);
    display: block;
    margin: 2%;
    width: 96%;
}
nav .blog{
    background: none repeat scroll 0 0 #daeebb;
    border-radius: 60px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 31px;
    font-style: normal;
    height: 100px;
    line-height: 93px;
    position: relative;
    text-transform: uppercase;
	text-align:center;
    width: 100px;
	font-family:"BodoniCompressDRegular";
}
nav .blog a{
	color:#fff;
	font-size:48px;
	position:relative;
	top:4px;
}
/* products */
article.catalog > aside {
    float: left;
    width: 200px;
}
article .products {
    float: right;
    width: 740px;
	    min-height: 300px;
}

article .products > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
article .products > ul > li {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 176px;
}

article .products > ul > li.last {
    margin: 0 0 5px;
}

article .products li .frame {
    height: 235px;
    width: 176px;
	position:relative;
}
article .products li .frame img{
  width:100%;
}

article .products li .frame .star{
  background: rgba(0, 0, 0, 0) url("/img/bloom/star.png") no-repeat scroll 0 0 / 40px auto;
  height: 70px;
  position: absolute;
  right: 2px;
  top: 4px;
  width: 44px;
}
.sale{
	    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
	text-decoration:none;
}
.sale:hover{
	text-decoration:none;
}
article .products h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 176px;
}

article .price {
    text-align: center;
}
article .price.discount{
  font-size:18px !important;
  color:red;
}



article.product .thumnails{
    float: left;
    list-style: none outside none;
    margin: 0 10px;
    padding: 0;
    width: 130px;
}
article.product .thumnails li{
	margin:0 0 10px 0;
}
article.product .thumnails li img{
	cursor:pointer;
}
article.product .center{
    float: left;
    margin: 0 20px 0 0;
    width: 440px;
}
article.product .center ul{
	list-style:none;
}
article.product .center ul li{
	display:none;
}
article.product .center ul li.selected{
	display:block;
}
article.product .center .show_larger{
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	margin:10px 0;
	cursor:pointer;
}
article.product .right{
	float:left;
	width:328px;
}
article.product h1{
	text-transform:uppercase;
	font-size:18px;
	margin:0;
	padding:0;
}
article.product .right .price{
	font-size:15px;
	margin:20px 0;
	float:left;
}
article.product .right .old_price{
    color: #999999;
    float: left;
    font-size: 13px;
    margin: 20px 15px 20px 0;
    position: relative;
    text-decoration: line-through;
    top: 2px;
}
article.product .right .button{
	display:block;
	clear:left;
	border-radius:30px;
	width:200px;
	background: #f9ffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9ffff 0%, #b2caca 93%, #b2caca 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9ffff), color-stop(93%,#b2caca), color-stop(93%,#b2caca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9ffff 0%,#b2caca 93%,#b2caca 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9ffff 0%,#b2caca 93%,#b2caca 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9ffff 0%,#b2caca 93%,#b2caca 93%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9ffff 0%,#b2caca 93%,#b2caca 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ffff', endColorstr='#b2caca',GradientType=0 ); /* IE6-9 */

}
article.product .right .info_block{
	border-top:1px solid #999;
	margin:15px 0 0 0;
	clear:both;
}
article.product .right .info_block h2{
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	margin:10px 0 15px 0;
}
article.product .right .size_block{
	margin:0 20px 14px 0;
	font-size:14px;
	float:left;
}
article.product .right .size_block input{
	position:relative;
	margin:0 4px 0 0;
	padding:0;
}
article.product .right .line{
	width:100%;
	font-size:14px;
	margin:0 0 10px 0;
}

article.product .right .line strong{
	font-weight:bold;
	display:inline-block;
	width:150px;
	vertical-align:top;
}

article.product .right .line span{
	display:inline-block;
	width:160px;
	vertical-align:top;
}
/* notices */
#notice_ms{
	position:absolute;
	padding:16px;
	color:#fff;
	border:1px solid #000;
    font-size: 17px;
	background:rgba(0,179,186,1);
	z-index: 3000;
    text-transform: none !important;
	border-radius:200px;
}
#notice_ms.red{
    background:rgba(100,100,100,1);
}
#update-cart{
	position:relative;
	width:960px;
	margin:0 auto;
}
#cart-detail{
	width:100%;
}
#cart-detail td{
	text-align:center;
	vertical-align: middle;
}
#cart-detail .fa{
	color:#8be4e6;
	cursor:pointer;
}
.fa-minus-square-o,
.fa-plus-square-o{
	cursor:pointer;
}
.cart-empty{
	text-align:center;
}
#update-cart .links{
	float:right;
}

article.checkout h2{
	font-size:15px;
	margin:0 0 20px 0;
}

article.checkout .left-column.center img{
	position:relative;
	margin:0 0 0 -25px;
}
article.checkout .left-column.center{
	float:inherit;
	margin:0 auto;
}
article.checkout .left-column{
	float:left;
	width:405px;
}
article.checkout .right-column{
	float:right;
	width:460px;
}

article.checkout p{
	margin:0 0 10px 0;
}
article.checkout span{
  vertical-align: top;
}
article.checkout input[type="text"],
article.checkout input[type="file"],
article.checkout textarea{
	width:200px;
	overflow:hidden;
	text-align:left;
}
article.checkout .inner .radio{
  float: right;
    text-align: left;
    vertical-align: top;
    width: 259px;
}
article.checkout textarea{
	height:200px;
	overflow:hidden;
	text-align:center
}
article.checkout strong{
    float: left;
    overflow: hidden;
    text-align: left;
    width: 193px;
}
article.checkout .bName{
	width:100px;
	display:inline-block;
	overflow:hidden;
	text-align:center
}
article.checkout .bSku{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 80px;
}
article.checkout .bSize{
	width:100px;
	display:inline-block;
	overflow:hidden;
	text-align:center
}
article.checkout .bColor{
	width:70px;
	display:inline-block;
	overflow:hidden;
	text-align:center
}
article.checkout .bPrice{
	width:100px;
	display:inline-block;
	overflow:hidden;
	text-align:center
}
article.checkout .bPrice input{
	font-size:14px;
	width:94px !important;
}

article.checkout .error{
    color: #FF0000;
    display: block;
    position: relative;
    text-align: center;
    top: 5px;
    width: 100%;
	    clear: both;
}
/* footer */
footer nav{
	clear:both;
}
footer nav ul{
	font-family:"ProximaNova";
	font-size:12px;
	letter-spacing:normal;
	text-transform:none;
}

footer nav ul li h2 {
    margin: 0 0 15px;
    text-transform: uppercase;
}

footer nav ul li {
    margin: 0 0 5px;
}

footer nav ul li a {
    margin: 0 0 0 0px;
}
footer > nav > ul {
    float: left;
    width: 300px;
}

article.info > table{
	margin:0 auto;
	font-size:12px;
	border-right: 1px solid;
}
article.info > table tr > td{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 -moz-use-text-color #000000 #000000;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1pt medium 1pt 1pt;
    padding: 2.75pt;
}
aside nav li:last-child{
	margin:0px 0 0;
}
