@font-face {
 font-family: gothic common;
 src: url("/css/fonts/GOTHIC.eot") /* EOT file for IE */
}
@font-face {
 font-family: gothic common;
 src: url("/css/fonts/GOTHIC.TTF") /* TTF file for CSS3 browsers */
}
