html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	cellpadding:0;
	cellspacing:0;
	border-spacing:0;
	vertical-align:baseline;
	background:transparent;
}
img{
	border: medium none;
}
:focus {
	outline:0
}
html,table{
	font-family:Helvetica, Arial, sans;
	font-size:13px;
	padding:0px;
	border: 0px;
	height:100%;	
	line-height:18px;
}
ul{
	margin-left:0px;
	padding-left:10px;
	margin-top:0px;
	list-style:none;
	}
h2{
	color:#1A1A1A;
}
h3{
	color:#1A1A1A;
	margin: 3px 0 0 0;
}
.button{
	float:left;    
}

.admin_txt{
	width:460px;
}
.filter_block{
    border: 1px solid #000000;
    margin: 10px 20px;
    padding: 10px;
    width: 600px;
}
.drop{
	position:relative;
	background-color:#FFF;
	border:1px solid #000;
	padding:2px 0;
	width:250px;
}
.drop:hover{	
	position:relative;
	background-color:#000;
	color:#FFF;
	z-index:20;
	cursor:pointer;
	border:1px solid #000;
	padding:2px 0;
	width:250px;
}
.over_all{
	margin-top:19px;
	margin-left:250px;
	position:absolute;
}
.block{
	border-bottom:dotted 1px #000;
}
.space{
	width:100%;
	height:4px;
	float:left;
}
.add_str_butt{
	float:left;
}
.shortie{
	height:15px;
	padding:2px 0;
	width:250px;
	float:left;
}
.login{
	position:absolute;
	left:40%;
	right:40%;
	top:30%;
	bottom:30%;
}
#tableleft{
	position:absolute;
	margin-top:30px;
	z-index:2;
	}
#tableright{
	position:absolute;
	margin-top:30px;
	margin-left:300px;
	z-index:3;
	}
.tabletop{
	margin-bottom:35px;
	}
p{
	padding:0px;
	}
img{
	border:0px;
	padding:0px;
	}
a:link {
	color: #1a1a1a;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:#1a1a1a;
	
}
a:hover {
	text-decoration: underline;
	color:#1a1a1a;
}
a:active {
	text-decoration: underline;
	color: #1a1a1a;
}	
.main_part{
	margin-top:24px;
	margin-bottom:96px;
	  }
.spacer{
	padding-top:10px;	
	}
.spacer_bot{
	padding-bottom:10px;	
	padding-top:0px;	
	margin:0px;
	}
.error{
	font-size:9px;
	color:#F00;
}
.curs{
	cursor:pointer;
}
.inner_td_left{
	padding:5px;
	border-top:#000 dotted 1px;
	border-left:#000 dotted 1px;
	border-right:#000 dotted 1px;
}
.inner_td_left_low{
	border-top:#000 dotted 1px;
}
.inner_td_right{
	padding:5px;
	border-top:#000 dotted 1px;
	border-right:#000 dotted 1px;
}
.inner_td_right_low{
	border-top:#000 dotted 1px;
}
.inner_td_l{
	border-top:#000 dotted 1px;
	border-left:#000 dotted 1px;
	padding:5px;
}
.inner_td_l_low{
	border-top:#000 dotted 1px;
}
.inner_td_r{
	border-top:#000 dotted 1px;
	border-left:#000 dotted 1px;
	border-right:#000 dotted 1px;
	padding:5px;
}
.inner_td_r_low{
	border-top:#000 dotted 1px;
}
.admin_table{
	margin-top:32px;
}
.admin_table thead tr td{
    border: none;
	border-bottom:2px solid #1a1a1a;
    color: #1a1a1a;
    font-weight: normal;
    padding: 0;
	padding-left:00px;
    text-align: left;
}
.admin_table tbody tr td{
	color:#1a1a1a;
	text-align:left;
	border:none;
	border-bottom:#1a1a1a dashed 1px;
	padding:0px;
	padding-left:0px;
	background-color:#FFF;
	height:100px;
}

tbody tr .td{
	border:#1a1a1a dotted 1px;
	padding:0px;
	padding-left:0px;
}
. tbody tr td{
	border-bottom:#1a1a1a dotted 1px;
	padding:0px;
	padding-left:0px;
}
.ui-sortable-helper {
		margin:0;
		padding:0;
	}
.ui-sortable-placeholder {
		margin:0;
		padding:0;
	}
tr.ui-sortable-helper td{
}
.admin_table tbody tr td.numberList{
	padding-left:10px;
	font-size:10px;
	}
.admin_table thead tr td.numberList{
	padding-left:10px;
}
.option{
	cursor:pointer;
 	display: block;
    float: left;
	margin-right:10px;
}
.option .fa{
	font-size: 23px;
}
.arrow{
	background-color:#999;
	cursor:pointer;
}
.red{
	color:#F00;
}
.show_map{
	cursor:pointer;
	color:green;
}
.hide_map{
	cursor:pointer;
	color:#FF0000;
}
.del_bb{
	height:13px;
	cursor:pointer;
}
.dot{
	width:5px;
	height:5px;
	margin-bottom:2px;
	margin-right:2px;
	float:left;
}
.create_b{
	width:100px;
	height:117px;
	float:left;
	background: no-repeat ;
}
.create_b:hover{
	background: no-repeat ;
}
.search_panel{
	color:#1a1a1a;
	font-weight:normal;
	width:600px;
	margin-top:12px;
}
.search_panel tr td{
    padding-left: 0px;
}
.pages .leftTxt{
	color: #1a1a1a;
    float: left;
    font-weight: normal;
    margin: 5px 5px 4px 0px;
    padding: 4px;
	display:block;
	}
.pages .normal{
    float: left;
    font-weight: normal;
	font-size:9px;
	display:block;
}
.pages .normal a{
	vertical-align:middle;
	float:left;
	border:none;
	color:#1a1a1a;
	height:13px;
	width:14px;
	line-height:14px;
	text-align:center;margin:0;
	margin: 7px 1px 5px 0px;
	text-decoration:none;
    padding:5px 4px 4px 4px;
	cursor:pointer;
}
.pages .normal a:hover{
	color:#fff;
	text-decoration:none;
	background-color:#1a1a1a;
}
.pages .selected{
	margin: 7px 1px 5px 0px;
	color:#FFF;
	background-color:#1a1a1a;
	font-size:9px;
    padding:5px 4px 4px 4px;
	float:left;
	border:none;
	height:13px;
	width:14px;
	line-height:14px;
	text-align:center;
	display:block;
	vertical-align:middle;
	text-decoration:none;
}
.structure_panel{
    font-weight: normal;
    padding: 0;
    width: 960px;
	border:none;
}
.structure_panel  tr td{
    padding-left: 10px;
    padding-bottom: 18px;
	padding-top:18px;
	text-decoration:none;
	border-bottom:1px dotted #1a1a1a;
	min-height:100px;
}
.structure_panel .evo-pop tr td{
	border: 1px solid #C0C0C0;
    cursor: pointer;
    font-size: 1px;
    padding: 7px;
}
.structure_panel tr td a{
	color:#000;
}
.action_panel{
    font-weight: bold;
    padding: 15px 0px 0px 0px;
    width: 960px;
	margin-top:24px;
	border-top:1px dotted #1a1a1a;
	height:54px;
}
.action_panel a{
	border:1px solid #1a1a1a;
	text-transform:uppercase;
	font-size:10px;
    display: block;
    float: left;
	padding: 5px 10px;
    vertical-align: middle;
	text-decoration:none;
	margin-right:10px;
}
.action_panel a:hover{
	background-color:#1a1a1a;
	color:#FFF;
	text-decoration:none;
}
.button{
	border:1px solid #1a1a1a;
	text-transform:uppercase;
	font-size:10px;
    display: block;
	padding: 8.6px 10px;
    vertical-align: middle;
	text-decoration:none;
	margin-right:10px;
	cursor: pointer;
}

.image_wraper{
	height:180px;
	width:776px;
	float:left;
	border:0px solid #1a1a1a;
	overflow-y:hidden;
	background-color:#fff;
	margin-top:-18px;
}
.image_holder{
	height: 120px;
    width: 110px;
	height:120px;
}
.gallery_photo{
	border-right:1px dotted #1a1a1a;
    color: #000000;
    display: block;
    float: left;
    font-size: 11px;
    height: 165px;
    margin: 0px;
    text-decoration: none;
    width: 110px;
	text-align:center;
}
.photo_dell{
	text-align:right;
	height:22px;
	background-image:url(/img/admin/delete_icon.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-bottom:5px;
	margin-right:3px;
	margin-top:5px;
	cursor:pointer;
	}
.progress_bar{
	width:300px;
	float:left;
	height:10px;
	background:#000;
	border:1px solid #1a1a1a;
}
.progress{
	height:10px;
	width:0px;
	background:#FFF;
	float:left;
}
.space{
	float:left;
	width:100%;
	height:10px;
}
.gbutton{
	float:left;
}
.swfupload{
	float:left
}
.log{
	float:left;
	margin-left:40px;
}
.upload_button{
	border:1px solid #1a1a1a;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
    display: block;
    float: left;
    height: 48px;
    line-height: 49px;
    padding-left: 19px;
    padding-right: 20px;
    vertical-align: middle;
	text-decoration:none;
	margin-right:10px;
	cursor:pointer;
	margin-bottom:10px;
	background-color:#FFF;
}
.upload_button.hover{
	background-color:#1a1a1a;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
.crop_button{
	border:1px solid #1a1a1a;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
    display: none;
    float: left;
    height: 48px;
    line-height: 49px;
    padding-left: 19px;
    padding-right: 20px;
    vertical-align: middle;
	text-decoration:none;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
	background-color:#FFF;
}
.crop_button.hover{
	display: block;
	background-color:#1a1a1a;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
.image_sm{
	float:left;
	display:block;
	margin-right:10px;
	margin-bottom:10px;
	}
.uploaded_image{
float:left;
display:none;
margin-right:10px;
margin-bottom:10px;
}
.croped_image{
float:left;
display:none;
margin-right:10px;
margin-bottom:10px;
}
.user_name a{
	font-weight:bold;
	text-decoration:underline;
}
.user_name a:hover{
	font-weight:bold;
	text-decoration:none;
}
.slider{
	background-color:#1a1a1a;
	width:100%;
	height:24px;
	font-size:11px;
	color:#fff;
	text-align: center;
	padding-top:10px;
}
.slider:hover{
}
.slider a{
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	text-decoration:underline;
}
.slider a:hover{
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
.user_name{
    font-size: 11px;
    margin: 0px 0 0 10px;
	text-decoration:none;
    position: absolute;
}
.left_panel{
	background:#fff;
	padding:10px;
	color:#1a1a1a;
}
.large_slider{
    font-size: 11px;
	display:none;	
	height:180px;
	color:#fff;
	text-align: center;
	width:100%;
	padding-top:7px;
	background-color:#1a1a1a;
}
.large_slider a#close{
	width:100%;
	text-align:center;
	font-weight:bold;
	height:28px;
	cursor:pointer;
	float:left;
	margin:0 0 50px 0;
	text-decoration:underline;
}
.large_slider a#close:hover{
	text-decoration:none;
	color:#fff;
}
.large_slider .options{
	text-align:center;
}
.topMenu a{
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
	padding:21px 18px;
	border:1px solid white;
	margin-right:10px;
	text-decoration:none;
	}
.topMenu a:hover{
	color:#1a1a1a;
	background-color:#FFF;
	border:1px solid #FFF;
	text-decoration:none;
}
.testy{
background:#0F0;
width:960px;
height:100px}

.submit_button{
    font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	cursor:pointer;
	border:1px solid #1a1a1a;
	text-transform:uppercase;
	font-size:10px;
    display: block;
    float: left;
	padding: 8.5px 10px;
    vertical-align: middle;
	text-decoration:none;
	margin-right:10px;
	background:#FFF;
}
.submit_button:hover{
background-color:#1a1a1a;
color:#FFF;
text-decoration:none;
}
tr td.fatline {
	border-bottom:2px #1a1a1a solid;
}
.header a{
	float:none;
	padding:0px;
	width:auto;
}
.admin_user{
	font-size:12px;
	font-weight:normal;
	float:left;
	width:100%;
	margin:14px 0 14px 0;
}
.header{
	font-size:12px;
	float:left;
	width:200px;
}
.content{
	display:none;
	margin-left:20px;
	float:left;
}
.hilite{
	background-color:#F00;
}
.switcher{
	margin:5px;
	height:23px;
	width:21px;
	cursor:pointer;
	display:block;
	float:left;
}
.items{
	margin:5px;
	height:23px;
	width:21px;
	cursor:pointer;
	display:block;
	float:left;
}
.fselected{
	color:#009999;
}
.fselected:link{
	color:#009999;
}
.fselected:visited{
	color:#009999;
}
.fname{
	display:block;margin:10px 0 0;
	padding:0;
}
.level, .s_id{
	display:none;
}
.item{
	font-size:10px; 
}
.languages{
	font-size:10px;
	font-weight:normal;
	float:left;
	width:100%;
	margin-bottom:20px;
	margin-top:15px;
}
.languages a{
	padding:5px 4px 4px 4px;
	float:left;
	border:none;
	color:#1a1a1a;
	height:13px;
	width:14px;
	line-height:14px;
	text-align:center;
	display:block;
	vertical-align:middle;
	margin-right:1px;
	text-decoration:none;
}
.languages a:hover{
	color:#FFF;
	background-color:#1a1a1a;
	text-decoration:none;
}
a.light{
	color:#FFF;
	background-color:#1a1a1a;
}
.subf{
	margin:10px 0 21px 0px;
	list-style:none;
}
.coll_switch{
	float:left;
	display:block;
	width:10px;
	cursor:pointer;
}
.coll_switch:hover{
color:#999;
}
.collection{
	margin:10px;
	}
	
.switch {
    cursor: pointer;
    display: block;
    float: left;
    width: 10px;
}
.download_file{
    display: inline-block;
    font-size: 13px;
    text-align: center;
    text-decoration: underline !important;
    width: 200px;
}

.download_file:hover{
	text-decoration:none !important;
}
.checklist tr td{
	border:none;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px;     color: #000000;}
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; color:#000 }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.ui-datepicker th { color:#000;}
.menu a {
	display: block;
	padding: 5px;
	margin: 2px 0;
	width: 90%;
}
.menu a.menu-active, .menu a:hover {
	background: #e0e0e0;
	text-decoration: none;
}
.menu a.menu-active {
	border: 1px solid #000;
}
.menu li a {
	margin: 1px 0 2px 0;
}
.menu li a.menu-active {
	border: none;
}
ul.submenu {
	font-weight: normal;
	display: none;
	margin: 0 0 5px 0;
}
ul.submenu.active-menu {
	display: block;
}
.action_panel ul li {
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}
.action_panel.filter-block {
	border: 0;
	border-bottom: 1px dotted #1a1a1a;
	margin: 0;
	padding: 0;
	height: 45px;
}
.filters {
	margin: 50px 0 0 0;
	width: 100%;
}

.filters .item {
	display: inline-flex;
}

.filters .actions {
	margin: 10px 0 0 0;
}