.slider{
	width:600;
	overflow:hidden;
	display:block;
}
.slider ul, .slider li{
margin:0;padding:0;list-style:none;position:relative;display:block;
}

.slider li {display:none;}	
.slider li:first-child {display:block;}

.slider li {width:600px;overflow:hidden;}

.slider.left{
	width:474px;
	height:674px;
	overflow:hidden;
	display:block;
	float:left;
}
.slider.left ul, .slider.left li{
margin:0;padding:0;list-style:none;position:relative;display:block;
}

.slider.left li {display:none;}	
.slider.left li:first-child {display:block;}

.slider.left li {width:474px;height:674px;overflow:hidden;}


.scontrols{
    background: none repeat scroll 0 0 rgba(0,0,0,0.7);
    display: block;
    height: 82px;
    margin: -100px 0 0 819px;
    position: absolute;
    width: 184px;
	z-index:10000;
}
.scontrols .prevBtn{
    background: url("/img/norsoyan/sprites.png") no-repeat scroll 0 -98px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    height: 60px;
    margin: 8px 0 0 110px;
    position: relative;
    width: 30px;
}
.scontrols .nextBtn{
    background: url("/img/norsoyan/sprites.png") no-repeat scroll -31px -98px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: right;
    height: 45px;
    position: relative;
    top: 10px;
    width: 42px;
}