article.blog_post{
  width:1000px;
  margin:0 auto;
  h1{
    font-size:60px;
    text-align:center;
    font-family: "LazyCrazy";
    position:relative;
    margin: 20px 0 40px;
    border:none;
    text-transform:uppercase;
    width:auto;
    color:#000;
  }

  .left{
    float:left;
    width:400px;
    img{
      width:100%;
    }
  }
  .right{
    float: right;
    font-size: 16px;
    line-height: 32px;
    width: 560px;
  }
}
.blog_line{
  width:100%;
  height:30px;
  margin:30px 0 0 0;
  border-top:1px solid #000;
}
.blog_bottom{
  width:800px;
  margin:0 auto;
  img{
    max-width:100%;
    display:block;
    margin:0 auto;
  }
}
section.blog{
  width:971px;
  margin:0 auto;
  .banner{
    margin:0 auto;
    text-align:center;
  }
  h2{
    text-transform:uppercase;
    text-align:center;
  }
  ul{
    margin: 30px auto;
    width: 825px;
    li{
      width:255px;
      list-style: none;
      display: inline-block;
      text-align: center;
      margin:0 30px 30px 0;
      vertical-align: top;
      &.third{
        margin:0 0 30px 0;
      }
      a{
        text-decoration: none;
        &:hover{
          text-decoration: none;
          img{
            opacity:0.5;
          }
        }
        img{
          display:block;
          width:100%;
          margin-bottom: 30px;
          opacity:1;
          transition:0.5s all ease-out;
        }
        h2{
          font-size: 27px;
          line-height: 22px;
          margin-bottom: 5px;
          text-transform: uppercase;
          font-family: "LazyCrazy";
        }
        p{
          font-size: 15px;
          line-height: 22px;
          padding: 0 3px;
        }
        .read_more{
          text-decoration:underline;
          text-transform:uppercase;
              margin: 6px 0 0;
        }
      }
    }
  }
}
