section{
  &.cabinet{
    width:970px;
    margin:80px auto 0 auto;
    position: relative;
    @include phone(){
      width:100%;
    }
    article{
      h1{
        @include phone(){
          display: none;
        }
      }
      .holder{
        width:600px;
        margin:0 auto;
        @include phone(){
          width:100%;
          margin:0;
        }
        table.list{
          width:100%;
          margin:0 0 40px 0;
          thead{
            tr{
              td{
                text-transform: uppercase;
                font-size: 14px;
                padding:0px 10px 5px 5px;
                &.last{
                  text-align: right;
                }
              }
            }
          }
          tbody{

            border-top:1px solid #cfcfcf;
            border-bottom:1px solid #cfcfcf;
            background:#f9f9f9;
            color:#a0a0a0;
            tr{
              td{
                padding:10px 0;
                text-align: center;
                padding: 5px;
                &.last{
                  text-align: right;
                }

                &.left{
                  text-align: left;
                }
              }
            }
          }
        }
      }

      form{
        width:600px;
        margin:0 auto;
        display: block;
        @include phone(){
          width:100%;
        }
        .sp_field{
          margin:0 0 50px 0;
        }
        strong{
          text-align: right;
          width: 27%;
          @include phone(){
            text-align: left;
            width:100%;
          }
        }
      }
    }
    aside{
      position: absolute;
      left:0;
      top:0;
      @include phone(){
        position: relative;
        width:100%;
        clear: both;
        box-sizing: border-box;
        padding: 0 8vw;
      }
      nav{
        ul{
          li{
            display:block;
            text-transform: uppercase;
            margin:0 0 10px 0;
            @include phone(){
              margin: 0;
              padding:0;
            }
            &.selected,
            &:hover{
              a{
                background:#000;
                color:#fff;
              }
            }
            a{
              display: block;
              color:#000;
              font-size:12px;
              @include phone(){
                padding:5px 0;
                box-sizing: border-box;
                text-align: center;
              }
              &:hover{
                text-decoration: none;

              }
            }
          }
        }
      }
    }
  }

}
