
#cart-detail{
	width:100%;
	td{
		text-align:center;
		vertical-align: middle;
	}
	.fa{
		cursor:pointer;
	}
}
.fa-minus-square-o,
.fa-plus-square-o{
	cursor:pointer;
}
.cart-empty{
	text-align:center;
}
article{
	&.checkout{
		min-height:600px;
		h2{
			font-size:15px;
			margin:0 0 20px 0;
		}
		.long_line{
	    border-top: 1px solid #000;
	    clear: both;
	    float: left;
	    margin: 30px 0;
	    padding: 30px 0 0;
			position:relative;
	    width: 100% !important;
			@include phone(){
				margin: 0;
				padding: 30px 8vw 0;
			}
			.name {
				background: #fff none repeat scroll 0 0;
		    display: block;
		    font-family: "FuturicaMedium";
		    font-size: 16px;
		    font-weight: bold;
		    left: 50%;
		    margin: 0 0 0 -210px;
		    position: absolute;
		    text-align: center;
		    text-transform: uppercase;
		    top: -12px;
		    width: 410px;
				@include phone(){
					width:100%;
					text-align: center;
					margin: 0;
					left:auto;
					position: relative;
				}
			}
		}
		.left-column{
			float:left;
			width:690px;

			@include phone(){
				width:100%;
			}
		}
		#pickup_text{
			left:210px;
			@include phone(){
				left:auto;
				padding: 0 8vw;
			}
		}
		.right-banner{
			float:right;
			width:28%;
			@include phone(){
				display: none;
			}
			img{
				width:100%;
				display:block;
			}
		}
		.to_right{
				margin:20px 0 20px;
				float:left;
				width:100%;
				text-align:right;
				@include phone(){
					text-align: center;
				}
		}
		.right-column{
			width:900px;
			margin:0 auto;
			font-family:"FuturicaMedium";
			@include phone(){
				width:100%;
			}
		}
		.left-column.center img{
			position:relative;
			margin:0 0 0 -25px;
		}
		.left-column.center{
			float:inherit;
			margin:0 auto;
		}
		p{
			margin:0 0 20px 0;
			float:left;
			width:100%;
			position:relative;
			box-sizing: border-box;
			@include phone(){
				padding: 0 8vw;
			}
			&:hover{
				.remove{
					display:block;
				}
			}
		}
		span{
		  vertical-align: top;
		}

		.inner .radio{
		  float: right;
		    text-align: left;
		    vertical-align: top;
		    width: 259px;

		}

		.bPicture{
			width:140px;
			display:inline-block;
			img{
				width:100%;
				display: block;
			}
			@include phone(){
				width:30%;
			}
		}
		.bName{
			width:325px;
			text-align:left;
				display:inline-block;
				margin:0 0 0 20px;
			strong{
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				display:block;
			}
			@include phone(){
				display:inline-block;
				width:50%;
				margin:0;
			}
		}
		.bSku{
		    display: inline-block;
		    overflow: hidden;
		    text-align: center;
		    width: 100px;
		}
		.bSize{
			width:100px;
			display:inline-block;
			overflow:hidden;
			text-align:center
		}
		.bColor{
			width:70px;
			display:inline-block;
			overflow:hidden;
			text-align:center
		}
		.bPrice{
			width:100px;
			display:inline-block;
			text-align:right;
			font-size: 20px;
			font-weight: bold;
			@include phone(){
				position: absolute;
				right: 40px;
		    bottom: 25px;
			}
		}
		.remove{
			position:absolute;
			right:0;
			top:0;
			display:block;
			font-size:17px;
			@include phone(){
				padding: 1vw 3vw;
		    right: 3vw;
			}
		}
		.last_order{
			width:900px;
			margin:0 auto;
			clear:both;
			text-align: center;
			margin:20px 0 40px 0;
			@include phone(){
				width:100%;
				padding: 0 8vw;
				box-sizing: border-box;
			}
		}
		.error{
		    color: #FF0000;
		    display: block;
		    position: relative;
		    text-align: left;
		    top: 5px;
		    width: 100%;
			  clear: both;
		}
		.total{
			border-top:1px solid #ccc;
			width:100%;
			margin:20px 0 0 0;
			clear:both;
			padding:10px 0 0 0;

			.sum{
				display:inline-block;
				width:208px;
				@include phone(){
					width:100%;
					text-align: center;
				}
			}
			.delivery{
				display:inline-block;
				width:556px;
				@include phone(){
					width:100%;
					text-align: center;
				}
			}
			.plus{
				display:inline-block;
				width:100px;
				@include phone(){
					width:100%;
					text-align: center;
				}
			}
			div{
				vertical-align: top;
				text-transform: uppercase;
				font-family: 'ProximaNova';
				font-size:14px;
				strong{
					font-size: 20px;
					display: block;
					font-family: "FuturicaMedium";
				}
			}
		}
		ul.delivery_company{
			list-style: none;
			li{
				clear: both;
				display: none;
				&.selected{
					display: block;
				}
				&:last-child{
					.delivery_block.field{
						margin:45px 0 90px 0;
					}
				}
				.picture{
					float:left;
					img{
						width:200px;
						@include phone(){
							width:80%;
							display: block;
							margin:0 auto 20px auto;
							text-align: center;
						}
					}

				}
				.delivery_block.field{
					float:right;
					height: 50px;
					margin: 45px 0;
					width: 700px;
					@include phone(){
						height:auto;
						margin:0 0 50px 0;
						width:100%;
						text-align: center;
					}
					strong{
						width:96%;
						font-size:20px;
						float:right;
						@include phone(){
							margin:10px 0 0 0;
						}
					}
					i{
						width:96%;
						float:right;
					}
				}
			}
		}
	}
}
