.top_banner{
  background: #ffaab8 none repeat scroll 0 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "KobzarKS";
  font-size: 30px;
  height: 66px;
  line-height: 30px;
  margin: 20px 0;
  padding: 20px 10px;
  text-align: center;
	@include phone(){
    display: none;
    padding: 10px 0;
    margin: 0;
    height: auto;
  }
}
section{
  &.products{
    width:805px;
    float:right;
    position: relative;
    @include phone(){
      width:100%;
      margin: 0;
      float: none;
      box-sizing: border-box;
      padding: 0 8vw;
      position:relative;
    }
    ul{
      display: block;
      width:100%;
      list-style: none;
      li{
        position: relative;
        width:246px;
        position: relative;
        display: inline-block;
        margin:0 4% 60px 0;
        border-bottom: 1px solid #ccc;
        vertical-align:top;
        &.third{
          margin:0 0% 20px 0;
        }
        a{
          display: block;
        }
        img{
          display: block;
          width:100%;
        }
        .back{
          position: absolute;
          z-index: 10;
          top:0;
          opacity: 0;
          display: block;
          transition: opacity 0.1s ease-out;
        }
        &:hover{
          .back{
            opacity: 1;
          }
          .info{
            opacity: 1;
          }
        }
        .info{
          bottom: 0;
          box-sizing: border-box;
          margin: 0 0 15px;
          opacity: 1;
          padding: 7px 0;
          position: relative;
          text-align: center;
          width: 100%;
          h3{
            font-family: "Futura-Bold";
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.5px;
            text-transform: uppercase;
          }
          .sizes{
            margin:10px 0 0 0;
            font-size:14px;
          }
          .lower{
            .not_available{
              color:#c00;
            }
            .price{
              display: inline-block;
              font-size: 12px;
              font-weight: normal;
              .new_price{
                color:#c00;
              }
              .old_price{
                color:#000;
                position: relative;
                margin:0 5px 0 0px;
                &::after{
                  border-bottom: 2px solid #000;
                  content: "";
                  left: 0;
                  margin-top: 9px;
                  position: absolute;
                  right: 0;
                }
              }
            }
            .add_to_cart{
              display: inline-block;
              width:50%;
              text-align: right;
              float:right;
              text-transform: uppercase;
              font-size: 18px;
              font-weight: 200;
            }
          }
        }

        @include phone(){
          width:50% ;
          margin: 0 ;
          border:0 ;
          display: block;
          float: left;
          box-sizing: border-box;
          padding:0 2vw 0 0;
          position:relative;
          &.banner{
            display: none;
          }
          img{
            width:100%;
          }
          .back{
            display: none;
          }
          .info{
            border-bottom: 1px solid #ccc;
            margin: 0 0 40px;
            width: 100% ;
            h3{
              min-height: 55px !important;
            }
          }
          &:nth-child(even){
            padding:0 0 0 2vw;
            float: right;
          }
          &.third{
            margin:0 !important;
          }
        }
      }
    }
    @include phone(){
      ul{
        li{

        }
      }
    }
  }
}
aside.filter{
  box-sizing: border-box;
  padding: 0;
  position: relative;
  width: 145px;
  float:left;

	@include phone(){
    display: none;
    margin: 0 25%;
    width: 50%;
    .filter-button{
      &:hover{
        text-decoration: none;
      }
    }
    form#filter_form{
      display: none;
      &.selected{
        display: block;
      }
    }
  }
  .filter-button{
    display: none;
    @include phone(){
      display: block;
      font-size: 5vw;
      padding: 2vw 0;
      text-transform: uppercase;
      text-align: center;
    }
  }
  nav{
    h2{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: normal;
      text-align: center;

      >.switcher{
        background: rgba(0, 0, 0, 0) url("/img/steinberg/open-filter.svg") no-repeat scroll 0 0;
        display: inline-block;
        height: 17px;
        left: 5px;
        position: relative;
        top: 3px;
        width: 22px;
        cursor: pointer;
        &.off{
          background: rgba(0, 0, 0, 0) url('/img/steinberg/close-filter.svg') no-repeat scroll 0 0;
        }
      }
    }
    .options{
      display: none;
      margin:0;
      &.selected{
        display: block;
      }
    }
    .spacer{
      border-top: 1px solid #000;
      height: 10px;
    }
    h3{
      font-weight: normal;
      text-transform: uppercase;
      font-family: "FuturicaMedium";
      font-size: 14px;
      text-align: left;
      margin:0 0 10px 0;
      @include phone(){
        text-align: center;
      }
      >.switcher{
        display: inline-block;
        height: 17px;
        left: 5px;
        position: relative;
        top: 4px;
        width: 22px;
        cursor: pointer;
        .fa{
          bottom: -2px;
          font-size: 22px;
          position: absolute;
          transition: transform 0.1s ease-out;
        }
        &.off{
          .fa{
              transform: rotate(180deg);
          }
        }
      }
    }
    .block{
      display: none;
      &.selected{
        display: block;
      }
      ul{
        font-size:12px;
        margin:0 0 40px 0;
        li{
          margin:0 0 10px 0;
          &.selected{
            a{
              color:#a95f5c;
            }
          }
          input{
            margin:0 10px 0 0;
          }
        }
      }
    }
    ul{
      li{
      margin:0 0 7px 0;
        a{
          font-family:"FuturicaMedium";
          font-size:13px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
