#notice_ms {
  position: absolute;
  padding: 16px;
  color: $color0;
  border: 1px solid $color3;
  font-size: 17px;
  background: $color3;
  z-index: 3000;
  text-transform: none !important;
}
#notice_ms.red{
  color:red;
}
@include phone(){
  .zoomContainer{
    display: none !important;
  }
}
article{

  &.product_page{
      width: 970px;
      margin:80px auto 0 auto;
      position: relative;
      @include phone(){
        width:100%;
      }
      .left{
        height:100%;
        width:65%;
        float: left;
        @include phone(){
          width:100%;
          box-sizing: border-box;
          padding: 0 8vw;
        }
        .image{
          vertical-align: top;
          width:84%;
          display:inline-block;
          .desktop{
            display: block;
          }
          .mobile{
            display: none;
          }
          @include phone(){
            width:100%;
            .desktop{
              display: none;
            }
            .mobile{
              display: block;
              img{
                width:100%;
                height:auto;
                display: block;
              }
              .slidesjs-navigation{
                display: none;
              }
              ul.slidesjs-pagination{
                width:100%;
                text-align: center;
                margin:20px 0 0 0;
                li{
                  display: inline-block;
                  margin:0 5vw 0 0;
                  float: none;
                  width: auto;
                  a{
                    width:4vw;
                    height:4vw;
                    border-radius: 5vw;
                    display: block;
                    background:rgba(0,0,0,1);
                    color:rgba(0,0,0,0);
                    transition: ease-out 0.2s all;
                    &.active{
                      width:5vw;
                      height:5vw;
                      position: relative;
                      bottom:1.5px;
                      right:1.5px;
                    }
                    &:hover{
                      text-decoration: none;
                      background:rgba(0,0,0,0.6);
                    }
                  }

                  &:last-child{
                    margin:0;
                  }
                }
              }

            }
          }
          ul{
            list-style: none;
            li{
              display:none;
              img{
                display:block;
              }
              &.selected{
                display: block;
              }
            }
          }
          img{
            width:100%;
            display: block;
          }
        }
        .previews_part{
          width:16%;
          vertical-align: top;
          display:inline-block;
          float:left;
          @include phone(){
            display: block;
            width:100%;
            margin:20px 0;
            clear: both;
            float: left;
          }
          .previews{
            @include phone(){
              display:none;
            }
            ul{
              list-style: none;
              li{
                display: block;
                width:100%;
                float:left;
                position: relative;
                &:hover{
                  opacity: 0.6;
                }
                img{
                  width:100%;
                  display:block;
                }
                &.selected{
                  .bottom-line{
                    border-bottom:4px solid #000;
                    width:100%;
                    position: absolute;
                    bottom:0;
                  }
                }
              }
            }
          }
          .larrow{

          }
          .rarrow{

          }
        }
      }
      .right{
        height:100%;
        width:35%;
        box-sizing: border-box;
        padding: 0 0 0 20px;
        float: right;
        text-align: left;
        .select_size,.select_qty{
          background: #000 none repeat scroll 0 0;
          color: #fff;
          font-family: Tahoma;
          padding:5px 10px;
          font-size: 10px;
          opacity: 0;
          transition: all ease-in 1s;
          &::before{
            border-bottom: 10px solid transparent;
            border-right: 10px solid #000;
            border-top: 10px solid transparent;
            content: " ";
            height: 0;
            margin: 4px 0 0 -16px;
            position: absolute;
            width: 0;
          }
          &.selected{
            opacity: 1;
          }
        }
        .select_size{
          position: relative;
          margin:-3px 0 0 4px;
        }
        .select_qty{
          position: absolute;
          margin:-35px 0 0 53px;
        }
        @include phone(){
          width:100%;
          padding:0 8vw;
          > .selectboxit-container{
            display: block;
            width:50px;
            margin: 0 auto;
          }
          h1{
            text-align: center !important;
          }
          .price{
            text-align: center;
          }
        }
        h1{
          font-family: georgia;
          font-size: 27px;
          font-weight: normal;
          margin: 0 0 5px;
          text-align: left;
        }
        .color_picture{
          border: 1px solid;
          border-radius: 20px;
          display: inline-block;
          height: 40px;
          padding: 3.2px;
          width: 40px;
          img{
            width:100%;
            border-radius:20px;
            display: block;
          }
        }

        >ul{
          list-style: none;
          @include phone(){
            text-align: center;
          }
          >li{
            display: block;
            margin:0 0 10px 0;
            font-size: 18px;
            &.light{
              font-weight: 200;
            }
            strong{
              font-weight: bold;
            }

          }
          &.select{
            margin:0 0 10px 0;
            li{
              font-size: 14px;
              // radio button cover code

              a{
                text-decoration: none;
                color:#000;
              }
              .color{
                display: inline-block;
                border:2px solid #fff;
                position: relative;
                top:4px;
                border-radius: 10px;
                margin:0 10px 0 0;
                padding:2px;
                &.selected{
                  border:2px solid #000;
                }
                .dot{
                  border-radius: 10px;
                  background:#eee;
                  height:15px;
                  width:15px;
                }
              }
              .radio{
                display: inline-block;
                bottom: 2px;
                display: inline-block;
                position: relative;
              }
            }
          }
        }
        .colors{
          width:100%;
          @include phone(){
            text-align: center;
      		}
        }
        .pictures,
        .materials,
        .sizes{
          li{
            border:1px solid #000;
            display: inline-flex;
            padding: 4px 10px;
            cursor: pointer;
            font-family: "Futura-Bold";
            font-size: 11px;
            vertical-align: top;
            &.select_size{
              background:#000;
              color:#fff;
              font-size: 10px;
              font-family: Tahoma;
            }
            &.selected{
              border:1px solid #000;
              background: #000;
              color:#fff;
              a{
                color:#fff;
              }
            }
            a{
              text-decoration: none;
            }
            input{
              display: none;
            }
          }
        }
        .materials{
          li{
            width:200px;
          }
        }
        .properties{
          font-size:18px;
          font-weight: 200;
          strong{
            font-weight: 200;
          }
          p{
            margin: 0 0 10px;
          }
        }
        .price{
          font-size: 24px;
          font-weight: 200;
          margin:0 0 40px 0;
          strong{
            font-weight: normal;
            font-size: 30px;
            margin:0 0 0 10px;
          }
        }
        h2{
          text-transform: uppercase;
          font-size:12px;
          font-weight:normal;
          font-family: "Futura-Bold";
          margin:10px 0 10px 0;
          @include phone(){
            text-align: center;
          }
          &.header{
            cursor: pointer;
            @include phone(){
              text-align: left;
            }
            &.selected{
              &:before{
                content: "- ";
              }
            }
            &:before{
              content: "+ ";
            }
          }
        }
        .desc{
          max-height: 0px;
          overflow: hidden;
          transition:all ease-out 0.5s;
          &.selected{
            max-height: 500px;
          }
        }
        .selectboxit-container{
          .selectboxit {
              border-radius: 0px;
              cursor: pointer;
              display: block;
              margin: 0;
              overflow: hidden;
              padding: 0;
              position: relative;
          }
          .selectboxit-options{
            border-radius: 0px;
          }
        }
        .selectboxit-list {
            background-color: #ffffff;
            border: 1px #000 solid;
        }
        .selectboxit-btn {
          background:none;
          border:1px solid #000;
        }
        button{
          background: #000 none repeat scroll 0 0;
          border: medium none;
          color: #fff;
          font-family: "Futura-Bold";
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.8px;
          margin: 30px 0 25px;
          padding: 8px 0;
          text-transform: uppercase;
          width: 100%;
        }
        .info_block{
          position: relative;
          bottom:0;
          width: 100%;
          .name{
            display: inline-block;
            width:40%;
            font-family: "Futura-Bold";
            font-size:12px;
            text-transform: uppercase;

          }
          .value{
            width:60%;
            display: inline-block;
          }
        }
      }
      .description-details{
        border-top: 1px solid #000;
        clear: both;
        float: left;
        margin: 60px 0 30px;
        padding: 10px 0 0;
        width: 100%;
        font-family: georgia;
        font-size:11px;
        line-height: 20px;
        h2{
          text-transform: uppercase;
          font-size:12px;
          font-weight:normal;
          font-family: "Futura-Bold";
          margin:20px 0 10px 0;
        }
      }
      .you-also-viewed{
          border-top: 1px solid #000;
          clear: both;
          float: left;
          margin: 30px 0 30px;
          padding: 30px 0 0;
          width: 100% !important;
          @include phone(){
            display: none;
          }
          .name{
            background: #fff none repeat scroll 0 0;
            display: block;
            color:#797979;
            font-size:30px;
            font-weight:bold;
            left: 50%;
            font-family:"KobzarKS";
            margin: 0 0 0 -195px;
            position: absolute;
            text-align: center;
            top: -15px;
            width: 390px;

            @include phone(){
              margin:0;
              left:0;
              width:100%;
              text-align: center;
              font-size: 20px;
            }
          }
          ul{
            text-align: center;
            li{
              .info{
                margin:0 !important;
              }
            }
            @include phone(){
              text-align: left;
            }
          }
      }
      .veil_white{
        background:rgba(255,255,255,1);
        display: none;
        position: fixed;
        height: 100%;
        width:  100%;
        top:0;
        left:0;
        justify-content: center;
        z-index: 1000;
        text-align: center;
        &.selected{
          display: flex;
        }
        .fullsize_image{
          height:100%;
          display:none;
          &.selected{
            display: inline-block;
          }
        }
      }
  }
}



section.size{
  border-top:1px solid $color2;
  width:100%;
  clear:both;
  padding:10px 20px;
  box-sizing:border-box;
  .wrapper{
    max-width:1024px;
    margin:0 auto;
    .info{
      float:left;
      width:80%;
      .description{
        min-width:300px;
        font-size:13px;
      }
      .field{
        vertical-align:top;
        display:inline-block;
        margin:0 20px 0 0;
      }

    }
    .button{
      float:right;
      background:$color3;
      color:$color0;
      border:1px solid $color3;
      padding:14px 20px;
      width:20%;
      text-align:center;
      font-weight:bold;
      letter-spacing:0.7px;
      text-transform:uppercase;
      font-family:$font2;
    }
  }
}
section.product_info{
  margin:30px 0;
  min-height:100%;
  height:100%;

    .image{
      width:60%;
      float:left;
      height: 100%;
      box-sizing:border-box;
      position:relative;
      .center{
        height:80%;
        margin:0 auto;
        display:block;
        ul{
          list-style:none;
          height:100%;
          li{
            height:100%;
            display:none;
            img{
              height:100%;
            }
          }
          li.selected{
            display:block;
          }
        }
      }
      img{
        height:85%;
        margin:0 auto;
        display:block;
      }
      .icon-search{
        position:absolute;
        right:40px;
        bottom:20%;
        font-size:40px;
      }
      .thumbnails{
        position:relative;
        ul{
          margin:10px 0 0 0;
          text-align:center;
          list-style:none;
          li{
            display:inline-block;
            width:7%;
            margin:0 5px 0 0;
            img{
              width:100%;
            }
          }
          li:last-child{
            margin:0;
          }
        }
      }
    }
    .info{
      margin:0;
      width:30%;
      float:left;
      padding: 20px;
      box-sizing:border-box;
      min-height:100%;
      font-size:13px;
      h1{
        text-transform:uppercase;
        font-size:25px;
        margin: 0 0 5px;
        letter-spacing:0.4px;
      }
      strong{
        font-size:15px;
        text-transform:uppercase;
        margin:0 0 0 10px;
      }
      .price{
        font-size:17px;
      }
      .spacer{
        border-bottom:1px solid $color2;
        margin:20px 0 20px 0;
      }
      select{
        border:1px solid $color2;
        padding:10px 20px;
        font-size:$font2;
      }
      .button{
        background:$color2;
        color:$color0;
        border:1px solid $color2;
        padding:14px 20px;
        width:60%;
        text-align:center;
        font-weight:bold;
        letter-spacing:0.7px;
        text-transform:uppercase;
        font-family:$font2;
      }
    }
}
