.veil{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
  background:rgba(0,0,0,0.8);
  display:none;
  @include phone(){
    position: absolute;
  }
  &.selected{
    display:block;
  }
  .signup_form{
    position:relative;
    background:#fff;
    width:780px;
    background:#fff;
    box-sizing: border-box;
    padding:45px 80px;
    margin:30px auto 0 auto ;
    @include phone(){
      width:100%;
      margin:0;
      padding:8vw;
    }
    .close{
      position:absolute;
      font-size: 19px;
      position: absolute;
      right: 20px;
      top: 10px;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    article{
      width:50%;
      @include phone(){
        width:100%;
      }
      &:first-child{
        float:left;
        border-right:1px solid #ccc;
        @include phone(){
          border: none;
        }
        form{
          padding:0 70px 0 0;
          @include phone(){
            padding:0;
          }
        }
      }
      &:last-child{
        float:right;
        form{
          padding:0 0px 0 70px;
          @include phone(){
            padding:0;
          }
        }
      }
      h2{
        text-transform: uppercase;
        font-size:15px;
        width:100%;
        margin:0 0 24px 0;
        font-weight: normal;
      }
      label{
        width:100%;
        display: block;
        margin:0 0 5px 0;
      }
      .error{
        font-size:9px;
        text-transform: uppercase;
        color:#c00;
        margin: -10px 0 0;
        position: absolute;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"]{
        display: block;
        width:100%;
        border: 1px solid #ccc;
        border-radius: 0;
        height: 28px;
        padding: 6px 8px;
        width: 100%;
        margin:0 0 15px 0;
      }
      button{
        background: #000 none repeat scroll 0 0;
        border: medium none;
        color: #fff;
        display: block;
        float: right;
        font-size: 10px;
        padding: 5px 10px;
        text-transform: uppercase;
        margin:40px 0 0 0;
      }
    }
  }
}
