.autocomplete-suggestions{
  background: #fff none repeat scroll 0 0;
  border-bottom: medium none;
  border-image: none;
  border-top: medium none;
  color: #000;
  font-family: Tahoma;
  letter-spacing: 0;
  line-height: 25px;
  padding: 10px 0;
  text-transform: none;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  .autocomplete-suggestion{
    box-sizing: border-box;
    height: 25px;
    color:#000;
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
    &:hover{
      color:#000;
      background:#999;
    }
    strong{
      display: inline;

    }
  }
}
