article.info{

  width:650px;
  margin:0 auto;
  @include phone(){
    width:100%;
    padding: 0 8vw;
    img{
      width:100% !important;
      height: auto !important;
    }
    table{
      width:100%;
      tr{
        td{
          p{
            span{
              font-size: 7px !important;
            }
          }
        }
      }
    }
  }
  &.plug{
    min-height: 150px;
    h1{
      margin:100px 0 150px 0;
    }
  }
  h1{
    text-transform: uppercase;
    font-size: 20px;
    margin:30px 0;
    font-weight: normal;
    @include phone(){
      margin:90px 0 30px 0;
    }
  }
}
