{if $russian_post.name == 'Москва'}
	<li class="selected" id="pickup_block">
		<label onclick="check_delivery(1);">
			<!--<div class="picture" style="line-height: 20px !important;">
					<img alt="{translateConst const = SHOP_GIRLS_IN_BLOOM}" style="width: 110px !important;margin:-20px 0 25px 17px" src="/img/girlsinbloom/boxes_bag.jpg">
				</div>-->
			<div class="delivery_block field">
				<input type="radio" autocomplete="off" name="delivery_type"
					   value="1"{if $delivery_type == 1} checked{/if}>
				<span class="info-label">
                        <strong>{translateConst const = PICKUP} <span style="color:red;text-transform: initial;font-size:15px">({translateConst const = SELF_PAYMENT_ONLY_ONLINE_PAYMENT})</span><!--<span
									class="button sticker-gift">{translateConst const = STICKER_GIFT}</span>--></strong>
                        <i>г. Москва, 2-Звенигородская, д.13, стр.37</i>
                    </span>
			</div>
		</label>
	</li>
{/if}
