<form method="post" id="update-cart" class="edit_order" action="/cart" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="?" name="utf8"><input type="hidden" value="put" name="_method"><input type="hidden" value="EvVZqjxTBxkqz1Kg8Tf6i+jpIdxSGkbSBDp8a1FgrD4=" name="authenticity_token"></div>
{include file="new_bloom/ru/_cart.tpl"}
</form>
