{translateConst const = USER}: {$user_info.first_name} {$user_info.last_name} {$user_info.email}<br>
{translateConst const = SUBJECT}:{$postdata.topic}<br>
{translateConst const = MESSAGE}:<br>
{$postdata.content}
