<div class="wrapper clearfix">
  <div class="top-divider"></div>
  <section class="advertising">
    <div class="banner" style="text-align: right;">
      <img alt="{translateConst const = SHOP_GIRLS_IN_BLOOM}" src="/img/girlsinbloom/stikers-gift.jpg">
    </div>
  </section>
  <div class="top-divider"></div>
</div>