<div class="wrapper clearfix">

	{include file="new_bloom/ru/info_block.tpl"}

	<div class="top_banner">{include file="new_bloom/ru/top_banner.tpl"}</div>

	{*{if $folder_info.url == 'self-design'}
		<!--{if $folder_info.top_banner_text!=''}<div class="top_banner">{$folder_info.top_banner_text}</div>{/if}-->
		{if $folder_info.send_success}
			<div style="text-align: center;text-transform: uppercase;font-size: 14px">
				<div class="field">
					<div class="name" style="margin: 30px 0 15px 0">{translateConst const = APPLICATION_ACCEPED}</div>
				</div>
				<div>{translateConst const = MANEDGER_WILL_CALL}</div>
			</div>
		{else}
			<form method="post" style="text-align: center;text-transform: uppercase;font-size: 14px">
				<div class="field">
					<div class="name" style="margin: 30px 0 15px 0">{translateConst const = APPLICATION_FOR_MANUFACTURE_OF_INDIVIDUAL_COVERS}:</div>
				</div>
				<input required type="email" name="email" style="width: 250px">
				<div class="name" style="margin: 35px 0 15px 0">{translateConst const = YOUR_COMMENT_AT_ORDER}:</div>
				<div class="field">
					<textarea name="message" style="margin: 0 0 20px 0;float:none"></textarea>
				</div>
				<div class="both"></div>
				<div class="field">
					<input class="button" type="submit" value="{translateConst const = SEND}">
				</div>
			</form>
		{/if}
		<img alt="{translateConst const = SHOP_GIRLS_IN_BLOOM}" align="center" width="100%" src="/img/girlsinbloom/custome_case_maket_DINA.jpg">
	{/if}*}
	<div class="top-divider"></div>
	<div class="content">{$folder_info.content}</div>
	<div class="top-divider"></div>
</div>
