<div data-offset-top="118" class="info-block-mobile" style="padding-left: 0 !important;{if $smarty.server.REQUEST_URI}{else}text-align: center;padding: 20px 0 10px 0{/if}">
	<!--{if $smarty.server.REQUEST_URI}
		<div class="container">
			<div class="main-wrapper">
				<div class="row">
					<ul>
						<li>{translateConst const = PARTIAL_REDEMPTION}</li>
						<li>{translateConst const = PICKUP}</li>
						<li>{translateConst const = FREE_DELIVERY_FROM} {translateConst const = RUB_SIGHN}</li>
					</ul>
					<ul style="padding: 0 0 0 10px">
						<li>{translateConst const = FLITTING}</li>
						<li style="line-height: 14px;">{translateConst const = GET_AND_PAY_MOBILE}</li>
						<li>{translateConst const = SAVETY_PAYMENT}</li>
					</ul>
				</div>
			</div>
		</div>
	{else}
		<img src="/img/girlsinbloom/{if $smarty.cookies.language == 'en'}en{else}ru{/if}_free-delivery.png" width="231">
	{/if}-->
	<img alt="{translateConst const = SHOP_GIRLS_IN_BLOOM}" src="/img/girlsinbloom/discount_banner.jpg?werwrew=33" style="width: 100%">
</div>
