<p><b>{translateConst const = GET_ORDER_FOR}</b> <a target="_blank" href="https://girlsinbloom.ru/new-products/{$data.url}/">{$data.product_name}{if $data.size}, {$data.size}{/if}{if $data.material}, {$data.material}{/if}.</a></p>
<p><b>{translateConst const = CUSTOMER_NAME}</b>: {$data.user_name}.</p>
<p><b>{translateConst const = CUSTOMER_PHONE}</b>: {$data.user_phone}</p>
{if $data.size}
    <p><b>{translateConst const = ONECLICK_SIZE}</b>: {$data.size}</p>
{/if}
{if $data.material}
    <p><b>{translateConst const = ONECLICK_MATERIAL}</b>: {$data.material}</p>
{/if}
{if $data.comment}
    <p><b>{translateConst const = ONECLICK_COMMENT}</b>: {$data.comment}</p>
{/if}
<img src="http://printuha.ru/img/front_pictures/{$data.image}">